<!DOCTYPE html>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js"></script>
<link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.css" rel="stylesheet" type="text/css">

<!-- bokeh.html -->

<head>
    <!-- Bokeh CSS and JavaScript -->
    {{ script|safe }}
    {{ script2|safe }}
    {{ script3|safe }}
    {{ script4|safe }}


</head>
<body><center>
    <div>
        <!-- Display the first Bokeh plot -->
        {{ div|safe }}
    </div>
    <br><br><br>
    <div>
        <!-- Display the second Bokeh plot -->
        {{ div2|safe }}
    </div>
    <br><br><br>
    <div>
        <!-- Display the second Bokeh plot -->
        {{ div3|safe }}
    </div>
    <br><br><br>
    <div>
        <!-- Display the second Bokeh plot -->
        {{ div4|safe }}
    </div>
    </center>
</body>
</html